doctype html  
html(lang='en')  
	head
		meta(charset="utf-8") 
		meta(http-equiv="X-UA-Compatible", content="IE=edge") 
		meta(name="viewport", content="width=device-width, initial-scale=1.0") 
		meta(name="description", content="") 
		meta(name="author", content="Claudio Dumont") 
		title Movie CaTcher
		link(href='assets/css/style.css', rel='stylesheet', type='text/css')
	body
		header#teste
			h1(class="page-title" id="page-title") Movie CaTcher
			.search-box
				input(placeholder="Search movie by name" class="search-box-input") 
		.main-container
			.cards-movies-container
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer 
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. penatibus et magnis dis parturient montes, nascetur .
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula 
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ionec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,  ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis .
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. , ultricies nec, pellentesque eu, pretium quis
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing eli
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque dictum felis eu pede mollis pretium.
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title 
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte.
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer 
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. penatibus et magnis dis parturient montes, nascetur .
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula 
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ionec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,  ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis .
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. , ultricies nec, pellentesque eu, pretium quis
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing eli
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque dictum felis eu pede mollis pretium.
				.card-movie
					.card-movie-hover-actions
						p.category-info Action Adventure
						a(class="view-details" href="#") view details
					img(src="https://placeimg.com/640/480/any" class="card-movie-poster")
					.card-movie-info
						h3(class="card-movie-title") Movie Title 
						p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte.
		footer
			| develop by: 
			a(href="https://github.com/ClaudioDumont" target="_blank") ClaudioDumont
			script(src="assets/js/app.js")